# Dependencies
/vendor/
/node_modules/
/npm-debug.log
/yarn-error.log

# Laravel specific
/bootstrap/compiled.php
/storage/*.key
/storage/pail
/public/storage
/public/build
/public/hot
/public_html/storage
/public_html/hot

# Environment & Configuration
.env*
Homestead.*
auth.json

# IDE/Editor-specific files
/.vscode/
/.idea/
/.fleet/
/.nova/
/.zed

# PHPUnit & Testing
.phpunit.result.cache
/.phpunit.cache

# PHP tools
.phpactor.json

# Vagrant
/.vagrant
